{% extends 'partials/body-login.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="centrado">
    <div id="contenidoinicio">
        <div class="p-3">
            <img class="imgLogo rounded-circle" src="{% static 'img/Logooo.png' %}">
            {% if validlink %}
                <h1>Restablecer contraseña:</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.new_password1.errors }}
                    <div class="m-4">
                        <label class="d-block" for="id_new_password1">Ingrese una nueva contraseña: </label>
                        {{ form.new_password1 }}
                    </div>
                    {{ form.new_password2.errors }}
                    <div>
                        <label class="d-block" for="id_new_password2">Confirme su nueva contraseña:</label>
                        {{ form.new_password2 }}
                    </div>
                    <input class="m-4 btn bg-light" type="submit" value="Cambiar Contraseña">
                </form> 
            {% else %}
            <p class="borde mb-4" style=" border-color:#000000; border-top-style:solid; border-top-width:2px;"></p>
                <h1>ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO </h1> <br>
                <p class="borde mb-4" style=" border-color:#000000; border-top-style:solid; border-top-width:2px;"></p>
                <h3>Para recuperar su contraseña vuelva a enviar la solicitud de recuperación de contraseña con su correo</h2>
                    <a href="{% url 'usuario-login' %}" class="btn btn-secondary m-4">Continuar</a>
            {% endif %}    
        </div>
    </div>
</div>
{% endblock contenido %}